.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins


/proxy/node_modules
/proxy/public/hot
/proxy/public/storage
/proxy/storage/*.key
/proxy/vendor
/proxy/.idea
/proxy/.vscode
/proxy/.vagrant
/proxy/Homestead.json
/proxy/Homestead.yaml
/proxy/npm-debug.log
/proxy/yarn-error.log
/proxy/.env
