<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>56897182379-uq4m8agmav98a9mk4b22d5erv99g0bcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56897182379-uq4m8agmav98a9mk4b22d5erv99g0bcj</string>
	<key>API_KEY</key>
	<string>AIzaSyD4j2VSUNjEWV-dyySzH2RvcAywrXzT8Mg</string>
	<key>GCM_SENDER_ID</key>
	<string>56897182379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maxanet.uploader</string>
	<key>PROJECT_ID</key>
	<string>maxanet-uploader</string>
	<key>STORAGE_BUCKET</key>
	<string>maxanet-uploader.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56897182379:ios:83213506ff537fd3</string>
	<key>DATABASE_URL</key>
	<string>https://maxanet-uploader.firebaseio.com</string>
</dict>
</plist>